
<header>
    
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +57 3134165315</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> Juanfe1221@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Pitalito</a></li>
                <link rel="stylesheet" href="./login/css/login.css">

                
                
            </ul>
            <ul class="header-links pull-right">
                <!-- 	 -->
                <li><a id="nombre-ususario" href="#"><i class="fa fa-user-o"></i></a></li>
            </ul>
        </div>
    </div>

    

    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <h1 class="textologo">SHOPTEC</h1>
                        </a>

                        
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">Categorias</option>
                                <option value="1">Nuevo</option>
                                <option value="1">Usado</option>
                            </select>
                            <input class="input" placeholder="Busca aquí" id="buscador">
                            <button class="search-btn">Buscar</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                

                                
                                <button type="button"  class="btn btn-primary position-relative"  >
                                    <div style="display: flex;justify-content:center;">
                                        <i style="margin: auto 4px;" class="fa fa-shopping-cart"></i>
                                        <div style="margin: auto 4px;" id='cantidadPdto'>0</div>
                                    </div>
                                    <span>Carrito de compras</span>
                                </button>

                                
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">

                                    <div  >
                                        <div  id="listaProductoCarrito">
                                        </div>
                                    </div  >

                                </div>
                                <div class="cart-btns">
                                    <a style="cursor: pointer;" onclick="registrarLaCompra()" class="text-center"> Comprar</a>
                                    
                                    <a href="/listarCompra" class="text-center">Listar Compra</a>
                                </div> 
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<script>


    let productosCarrito = [];

    listaTodosProductosCarrito ();

    function cantidadDeLaCompra(){

    fetch('/cantidadComprada', {
    method :'get',
    })
    .then(resp => resp.json())
    .then(data =>{
        let cuenta = 0;
        if(data[0].cantidadPdto) cuenta = data[0].cantidadPdto;
    document.getElementById('cantidadPdto').innerHTML=cuenta;
    });
    }

    function listaTodosProductosCarrito () {
    fetch('/listarTodosLosProductosDelCarrito',{
    	method:'GET'
    })
    .then(resp => resp.json())
    .then(data=>{
        this.productosCarrito = data;
        let cards = `<div class="product-widget">`;
        data.forEach(element => {
                cards+=`<div class="product-widget"`;
                cards+=	`<div class="product-widget">

                                <div class="product-img">
                                    <img src="/img/${element.imgProducto}" class="product-img"  alt="...">
                                </div>
                                <div class="product-body">
                                    <p class="product-name">${element.nombreProducto}</p>
                                    <p class="product-name">${element.cantidadPdto}</p>
                                </div>

                            </div>`
            cards+=`</div>`;
        });
        cards+=`</div>`;
        document.getElementById('listaProductoCarrito').innerHTML=cards;
        });
    };


    function limpiarCarritoCompra(){
        fetch('/limpiarCarrito', {
            method :'POST',
        })
        .then(resp => resp.json())
        .then(data =>{
            cantidadDeLaCompra();
            listaTodosProductosCarrito();
        });
    }

    function registrarLaCompra(idProducto){
        let datos = new URLSearchParams();
        this.productosCarrito.forEach(producto => {
            datos.append('idProducto', idProducto)
            fetch('/registroDeCompras', {
                method :'POST',
                body:datos
            })
            .then(resp => resp.json())
            .then(data =>{
                this.productosCarrito.forEach(producto => {
                    let datosDetalle = new URLSearchParams();
                    console.log(producto);
                    datosDetalle.append('PK_codigoProducto', producto.idProductoC)
                    datosDetalle.append('cantidadPdto', producto.cantidadPdto);
                    datosDetalle.append('idCompra', data.idCompra)
                    fetch('/registrarDetalleCompra', {
                        method :'POST',
                        body:datosDetalle
                    })
                    .then(resp => resp.text())
                    .then(data =>{
                        console.log(data)
                    });
                });
                limpiarCarritoCompra();
            //   cantidadComprada();
            });

        });
    }

</script>
