<!DOCTYPE html>
<html lang="en">
  <body>  <%- include('./partials/head')  %>
	
        <%- include('./partials/header')  %>
        <%- include('./partials/navigation')  %>
	<!-- </body> -->
<!-- </html> -->

<div class="container">
	<div id="listaProducto">
	</div>
  </div>
   <!-- funcion para venta -->
  <!-- <a href='javascript:registrarLaCompra(${element.PK_codigoProducto})' class='add-to-cart-btn' > Comprar </a>  -->


  	<div>
		<%- include('./partials/footer.ejs')  %>
	</div>

</body>
</html>
<script>
	let productos = [];
	function renderProductos(data) {
		let cards = `<div class='row'>`;
		data.forEach(element => {
				cards+=`<div class='col-md-4 col-xs-6'>`;
					cards+=`<div class="product" >
								<div class="product-img">
									<img src="/img/${element.imgProducto}" class="product-img" alt="...">
								</div>
								<div class="product-body">
									<p class="product-name">${element.nombreProducto}</p>
									<p class="product-price">${element.descripcion}</p>
									<p class="product-price">${element.stock}</p>
								</div>
								

								<div class="add-to-cart">
									<a href='javascript:registrarCarrito(${element.PK_codigoProducto})' class='add-to-cart-btn' > Carrito </a>
									<input type="number" class="form-control" id="productoCantidad-${element.PK_codigoProducto}" >
								</div>
								
							</div>`
			cards+=`</div>`;
		});
		cards+=`</div>`;
		document.getElementById('listaProducto').innerHTML=cards;
	}
	let buscador = document.getElementById('buscador');
	buscador.addEventListener('keyup', e => {
		const product = this.productos.filter(prod => {
			return prod.nombreProducto.toLowerCase().includes(buscador.value.toLowerCase());
		})
		if(product.length > 0) {
			renderProductos(product);
		} else renderProductos(productos);
	})
 listaTodosLosProductos();
 cantidadDeLaCompra();


function listaTodosLosProductos () {
fetch('/listarTodosLosProductos',{
	method:'GET'
})
.then(resp => resp.json())
.then(data=>{
	this.productos = data;
	renderProductos(data);
});
};

function registrarLaCompra(idProducto){
let datos = new URLSearchParams();
  datos.append('idProducto', idProducto)
  
 fetch('/registroDeCompras', {
 method :'POST',
 body:datos
 })
 .then(resp => resp.text())
 .then(data =>{
//   cantidadComprada();
alert(data);
 });
}

function registrarCarrito(idProducto){
let datos = new URLSearchParams();
  datos.append('idProducto', idProducto);
  datos.append('productoCantidad',document.getElementById('productoCantidad').value);
 
    fetch('/registroDeCarrito', {
	method :'POST',
 	body:datos
 })
 .then(resp => resp.text())
 .then(data =>{
//    cantidadComprada();
alert(data + " " + datos);
console.log(data +" "+ datos)
 });
}

</script>

