<!DOCTYPE html>
<html lang="en">
  <body>  <%- include('./partials/head')  %>
	
        <%- include('./partials/header')  %>
        <%- include('./partials/navigation')  %>

	<div class="container">
		<div id="listaProducto">
		</div>
  	</div>

  	<div>
		<%- include('./partials/footer.ejs')  %>
	</div>

</body>
</html>
<script>
 listaTodosLosProductos();
 cantidadDeLaCompra();


function listaTodosLosProductos () {
fetch('/listarTodosLosProductos',{
	method:'GET'
})
.then(resp => resp.json())
.then(data=>{

let cards = `<div class='row'>`;
data.forEach(element => {
		cards+=`<div class='col-md-4 col-xs-6'>`;
			cards+=`<div class="product" >
				  		<div class="product-img">
							<img src="/img/${element.imgProducto}" class="product-img" alt="...">
				 	 	</div>
						<div class="product-body">
							<p class="product-name">${element.nombreProducto}</p>
							<p class="product-price">${element.descripcion}</p>
							<p class="product-price">${element.stock}</p>
						</div>
						

						<div class="add-to-cart">
							<a href='javascript:registrarCarrito(${element.PK_codigoProducto})' class='add-to-cart-btn' >Añadir al carrito</a>
							<div class="cantidadUnidades">
								<a href='javascript:disminuir();' class='suma' ></a>
                						<input readonly class="numeroUnidades" type="text" id="productoCantidad-${element.PK_codigoProducto}" value="0">
								<a href='javascript:aumentar();' class='resta' ></a>
            				</div>
						</div>
						
					</div>`
	cards+=`</div>`;
});
cards+=`</div>`;
document.getElementById('listaProducto').innerHTML=cards;
});
};

function registrarLaCompra(idProducto){
let datos = new URLSearchParams();
  datos.append('idProducto', idProducto)
  
 fetch('/registroDeCompras', {
 method :'POST',
 body:datos
 })
 .then(resp => resp.text())
 .then(data =>{
//   cantidadComprada();
alert(data);
 });
}

function registrarCarrito(idProducto){
let datos = new URLSearchParams();
  datos.append('idProducto', idProducto);
  datos.append('productoCantidad',document.getElementById('productoCantidad').value);
 
    fetch('/registroDeCarrito', {
	method :'POST',
 	body:datos
 })
 .then(resp => resp.text())
 .then(data =>{
//    cantidadComprada();
alert(data + " " + datos);
console.log(data +" "+ datos)
 });
}

</script>

